h1{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-bottom: 5px rgb(58, 119, 139) solid;
}

form{
    width: 40%;
    padding: 20px;
    margin: auto;
    border: 4px black solid;
    border-radius: 10px;
}

label{
    width: 210px;
    display: inline-block;
    margin-top: 10px;
}

body{
    background-color: rgb(231, 239, 243);
    font-family: "Verdana";
}


/*input[type="number"]{
    background-color: cornsilk;
}*/



